.qualification {
    padding: 20px;
    background-color: var(--body-color);
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}

.qualification h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--title-color);
}

.qualification-item {
    background-color: var(--container-color);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid var(--text-color);
}

.qualification-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.qualification-item h3 {
    font-size: 1.5em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.qualification-item p {
    margin: 5px 0;
    font-size: 1em;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .qualification {
        padding: 10px;
    }

    .qualification h2 {
        font-size: 1.5em;
    }

    .qualification-item h3 {
        font-size: 1.2em;
    }

    .qualification-item p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .qualification h2 {
        font-size: 1.2em;
    }

    .qualification-item h3 {
        font-size: 1em;
    }

    .qualification-item p {
        font-size: 0.8em;
    }
}