.dark-theme {
  --title-color: var(--dark-title-color);
  --text-color: var(--dark-text-color);
  --body-color: var(--dark-body-color);
  --container-color: var(--dark-container-color);
}

/* Add dark mode styles for scrollbar */
.dark-theme::-webkit-scrollbar {
  background-color: hsl(var(--hue), var(--sat), 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), var(--sat), 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), var(--sat), 35%);
}